.rating {
    color: gray;
    font-size: 20px;
    cursor: pointer;
  }
  .rating span {
    display: inline-block;
  }
  .rating span:before {
    content: "☆";
  }
  .rating span.filled:before {
    content: "★";
    color: gold;
  }