<div class="h-screen flex flex-col">
  <div class="bg-white pb-4">
    <app-header class="min-w-full col-span-12"></app-header>
  </div>
  <div class="flex-1 min-h-auto h-auto bg-white p-4 mt-12 overflow-auto w-12/12 self-center contain-content relative">
    <router-outlet></router-outlet>
    <app-route-transition></app-route-transition>
  </div>
  <div class="bg-white">
    <app-footer class="min-w-full col-span-12 row-start-3"></app-footer>
  </div>
  
  <!-- Widget de Chat -->
  <app-chat-widget></app-chat-widget>
</div>
  